/* .block-date {
    position: absolute;
    display: block;
    bottom: -42px;
    left: 89px;
    background-color: #00d363;
    border-radius: 5px;
    padding: 10px 30px;
    transition-duration: 0.3s;
}

.block-date h3 {
    color: white;
    font-weight: bold;
}

.block-date p {
    font-size: 1.125rem;
    color: white;
}

.block-date:hover {
    cursor: pointer;
    background: none;
}

.block-date h3:hover,
.block-date p:hover {
    color: #00d363;
} */


.card-img {
    position: relative;

}

.img-text-blog {
    padding-top: 7%;
    position: relative;
}



.block-date {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #00d363;
    padding: 7px 30px;
    border-radius: 5px;
    position: absolute;
    bottom: 260px;
    left: 65px;

}

.blog-section{
    padding: 15px;
}



.blog-details h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.9375rem;
}

.blog-details {
    padding: 12% 0%;
}

.blog-heading {
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    color: #7a838b;
}

.filter-job {
    height: 60px;
    border: 1px solid #e8e8e8;
    padding: 20px;
    border-radius: 5px;
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: -webkit-fill-available;
}

.browse-job {
    background-color: #f5f7fa;
    color: #00D363;
    border: #00D363 1px solid;
    border-radius: 0rem;
    padding: 0.6em 1.3em;
    margin-top: 4%;
    font-size: 1.1rem;
    transition-duration: 0.7s;
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
}

.font13 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 6% 2%;
    padding: 4% 0%;
    border-bottom: 1px solid #ced4da;
}

.font14 {
    font-size: 1rem;
    margin: 6% 2%;
    padding: 4% 0%;
    border-bottom: 1px solid #ced4da;
}

.font14:hover {
    color: #00D363;
    cursor: pointer;
}

.single-category-blog {
    margin-bottom: 100px;
}

.recent-blog {
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;

}

.recent-text {
    margin-left: 30px;
    margin-top: 15px;
}

.first-blog-txt {
    font-size: 1rem;
    font-weight: bold;
}

.date-div-blog {
    display: flex;
    justify-content: end;
    color: #aab1b7;
    float: left;
}

.btn-blog-single {
    font-size: 0.9rem;
    padding: 5px 10px;
    border: 1px solid #aab1b7;
    background-color: white;
    margin: 4px;
    transition-duration: 0.5s;
    border-radius: 5px;
}


.btn-blog-single:hover {
    color: white;
    background-color: #00D363;
    border: 1px solid #00D363;
    cursor: pointer;
}

@media (max-width: 786px) {

    .blog-right{
        margin-left: 0 !important;
    }

    .block-date {
        bottom: 260px;
        left: 15px;
        padding: 5px 15px;
    }
    
}