.body {
    height: fit-content;
    width: 100%;
}


.font3-browse {
    font-size: 3rem;
    color: white;
    margin-left: 25%;
    margin-top: 6%;
}

.text-and-pic-2 {
    display: flex;
}

.sec3-browse {
    background-color: #f5f7fa;
    width: 100%;
    height: fit-content;
    padding: 5% 5%;

}

.filter-job {
    height: 60px;
    border: 1px solid #e8e8e8;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-browse {
    height: 900px;
    margin-left: 8%;
    padding: 1%;
}

.price-range {
    width: 100%;
}

.font5-browse {
    font-size: 1.25rem;
    margin-top: 3%;
}

#slider {
    width: 90%;
    height: 7px;
    margin-left: 3%;
}

.job-list {
    margin-left: 7%;
    width: 86%;
}




@media (max-width: 575px) {
    html {
        width: 130%;
    }

    .filter-browse {
        margin-left: 13%;
        margin-right: 15%;
    }

}

@media (max-width: 992px) {
    .font3-browse {
        margin-left: 8%;
    }

    .font3-browse {
        font-size: 3rem;
    }

    .job-list {
        margin-left: -2%;
        margin-top: 5%;
        width: 102%;
    }
}

@media (max-width: 786px) {
    .intro-img-2 {
        display: none;
    }

    .font3-browse {
        font-size: 2rem;
    }
}