.mapouter {
    position: relative;
    text-align: center;
    height: 600px;
}


.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 600px;
    margin-top: 100px;
    border-radius: 5px;
}

.contact-div {
    display: flex;
    margin-bottom: 10px;
}

.fa-house,
.fa-mobile-screen-button,
.fa-envelope {
    margin-top: 21px;
    font-size: 26px;
    color: #aab1b7;
}

.contact-details {
    margin-top: 70px;
}

@media (max-width: 786px) {

    .form-group{
        margin-bottom: 0;
    }

    .contact-details{
        margin-top: 0;
    }
}