body {
    width: 100%;
    height: 500px;
    background-color: rgb(196, 162, 121);
}

.center {
    width: 100%;
    height: 100%;
}

.single-candidate {
    background-color: blueviolet;
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-right: 2%;
    margin-top: 10%;
}